<div class="accordion-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Preguntas frecuentes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ¿Cómo puedo ponerme en contacto con ustedes y obtener rápidamente un presupuesto para mi
                                proyecto en línea?
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                La mejor forma de contactar conmigo es a través del formulario de contacto o enviándome
                                un mensaje a través de mis cuentas en las redes sociales. sociales. Para obtener un
                                presupuesto rápido, asegúrese de proporcionar todos los detalles del proyecto.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                ¿Creas los diseños desde cero o utilizas temas?
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                De ambas maneras, segun su presupuesto en el mejor de los casos se usa una template para
                                poder facilitar un desarrollo agil
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                ¿Recibiré algún tipo de mantenimiento o garantía incluidos tras la entrega del proyecto?
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Ehh, quien sabe, no te creas, si al igual como el punto anterior, segun su presupuesto,
                                en el mejor de los casos se dara mantenimiento y se le ayudara a que su pagina vaya bien
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                Si algo va mal con el proyecto, ¿me devuelven el dinero?
                            </button>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Nop, No hay devolucion, nos podemos en contacto con tigo, detallamos todos los puntos
                                del contrato en la cual nos aseguramos que su proyecto se lleve a cabo.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                ¿Cuál es su forma de pago preferida y necesita un anticipo?
                            </button>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Aceptamos de todo, Banco, Criptomoneda, Comida, Animales, nos caracterisamos por ser
                                accesible a nuestros clientes, por cual aceptamos muchos medios de pago, y si se
                                necesita un anticipo de la mitad del presupuesto, bajo firma del contrato y cosas
                                legales
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>