{% load static %}

<div class="split" id="skills">
    <div class="area-1">
    </div><div class="area-2 bg-gray">
        <div class="container">    
            <div class="row">
                <div class="col-lg-12">     
                    <div class="text-container">
                        <h2>Skills</h2>
                        <p>Soy comunicador y me agrada invertir el tiempo necesario para entender las nuevas tecnologias.</p>
                        <h5>C#</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%"  aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>
                        <h5>SQL</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%"  aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>
                        <h5>HTML / CSS</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%"  aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>
                        <h2>Intereses</h2>
                        <div class="icons-container">
                            <img id="interests-image" src="{% static 'images/details-icon-photoshop.png' %}" alt="photoshop image">
                            <img id="interests-image" src="{% static 'images/details-icon-figma.png' %}" alt="figma logo">
                            <img id="interests-image" src="{% static 'images/details-icon-python.png' %}" alt="python logo">
                            <img id="interests-image" src="{% static 'images/details-icon-git.png' %}" alt="git logo">
                            <img id="interests-image" src="{% static 'images/details-icon-angular.png' %}" alt="angular logo">
                            <img id="interests-image" src="{% static 'images/details-icon-postgres.png' %}" alt="postgres logo">
                            <img id="interests-image" src="{% static 'images/details-icon-node.png' %}" alt="node logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>